@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
  .navbar div {
    display: flex;
    flex-direction: column;
  }
  .menu2 {
    flex-direction: column;
  }
}

:root {
  --spacing: 1rem;
  --transition: 0.3s ease;
}
/* @media (max-width: 600px) {
} */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  /* background-color: #333; */
  color: #f2f2f2;
  margin: 5px;
  padding: 10px;
  text-transform: uppercase;
}

main {
  flex: 1;
  padding: 10px;
}
/* Header CSS */
.iconContainer {
  width: 70px;
  height: 55px;
  /* margin: 15px; */
}
.icon,
.iconLink {
  display: inline-block;
  max-width: 70px;
  max-height: 50px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(226, 226, 226);
  padding: 10px;
}

.navbar2 {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.container {
  flex: 1;
  text-align: center;
}

.container2 {
  flex: 0;
  text-align: center;
}

.menu {
  color: black;
  font-weight: bold;
  text-decoration-line: none;
  padding: 10px;
}

.menu2 {
  display: flex;
  padding: 5px;
}

.navContent {
  margin: 2px;
  padding: 5px;
  color: black;
  text-decoration-line: none;
}
.navContent2 {
  margin: 10px;
  color: black;
  font-weight: bold;
  text-decoration-line: none;
}

.search {
  margin-right: 15px;
}
i.chart {
  color: black;
  padding: 5px;
  text-decoration-line: none;
}
/* ================== Mini Header ====================== */
/* .backButton {
} */
.backButton,
chart {
  /* background-color: red; */
  margin: 10px 0px 10px 20px;
  /* text-decoration-line: none; */
}
/* ================== Product CSS ====================== */
.containerMain {
  display: flex;
}
.containerMain .products {
  margin: auto;
}
.products {
  gap: 15px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
}
.product {
  display: flex;
  margin: 15px;
  padding: 10px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #ddd;
  /* animation effect */
  transition: transform var(--transition);
  /* animation effect end */
}

.productContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.product:hover {
  /* animation effect  */
  transform: scale(1.05);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  /* animation effect end */
  border-color: rgba(0, 0, 0, 0.575);
}

.product img {
  margin-bottom: 10px;
  max-height: 250px;
}
.product h3,
.product p,
.product a {
  color: black;
  margin: 5px 0;
  font-weight: bold;
  text-decoration-line: none;
}

.detail-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  border: 1px solid black;
  color: black;
  text-decoration: none;
}

/* ==================== Mini Footer ================= */

.miniFooter {
  justify-content: center;
  padding: 20px;
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 5px 10px;
  margin: 0 5px;
  color: black;
  border: 1px solid black;
  text-transform: uppercase;
  text-decoration-line: none;
}
span {
  margin: 0;
}

.prev {
  margin-right: auto;
}

.next {
  margin-left: auto;
}

/* ========================= Footer =================== */
footer {
  border-top: 1px solid #333;
}

/* ========================= Halaman About =================== */
.containerMain > div {
  flex: 1;
}
.containerLeft {
  display: flex;
  max-width: 800px;
  justify-content: end;
}
.containerLeft .content {
  margin: 10px;
}
.containerLeft .content .mainImg {
  width: 450px;
}
.containerLeft .mini {
  width: 450px;
}
.miniImg {
  display: inline;
  width: 100px;
}
.containerRight {
  padding-left: 15px;
  margin-right: 250px;
}
